<ion-view title="Search" align-title="center">
	<ion-nav-bar class='bar-royal'>
	  <ion-nav-back-button class="button-clear">
	    <i class="ion-arrow-left-c"></i> Back
	  </ion-nav-back-button>
	</ion-nav-bar>

	<ion-content>

		<ion-list type="card"> <!-- Tipo Card o list-inset -->
		  <ion-item ng-repeat="game in games" >  <!-- Objecto de la lista -->
		    <img ng:src="{{ game.box.small }}" alt="" style="position: relative; float: left; padding-right: 20px;">
		    <h2>{{game.name}}</h2>
		  </ion-item>
		</ion-list>

	</ion-content>
</ion-view>